################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dirindexer/v16/Browse.VC.db
/.vs
/out/build/x64-Debug (default)
